* {
  margin: 0;
  padding: 0;

}

.main {

}

.answers {
  padding-top: 50px;
  padding-left: 15px;
  font-size: 1rem;
  position: fixed;
  font-family: 'Crimson Text', serif;
}

.topButton{
  margin-top: 100px;
  margin-left: 15px;
  width: 75px;
  height: 35px;
  position: fixed;
  font-family: 'Crimson Text', serif;
}