a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #95d0ff;
}

.active {
    color: #95d0ff;
}

@media only screen and (device-width: 375px){
    .main a{
        font-size: 12px;
    }
    .login{
        display: none;
    }
    .item {
        display: none;
    }


}
