.general {
  width: 1000px;
  max-height: 10000px;
  border: 3px solid #666;
  font-size: 1.35rem;
  padding: 15px;
  margin: 0 auto;
  margin-top: 75px;
  box-shadow: 10px 5px 5px #666666;
  font-family: 'Nanum Gothic', sans-serif;
}

.general__question{

}
.general__question__inputs{
  float: bottom;
  padding-top: 15px;
  font-size: 1rem;
}
.general__question__inputs:hover {
  cursor: pointer;
}

.general__question__inputs span p{
  margin-left: 25px;
}

.general__question__inputs__item{
  display: flex;
  width: auto;
  padding-top: 10px;
  margin-left: 10px;
}
.general__question__inputs__item p{
  font-family: 'Nanum Gothic', sans-serif;
}
.general__question__inputs__item input{
  width: 20px;
  height: 20px;
}


.general__question__inputs__item:first-child{
  margin-right: 10px;
}

.general__question__inputs button{
  width: 100px;
  height: 35px;
  float: right;
  font-size: 1rem;

}
.general__question__inputs:last-child{
  margin-bottom: 50px;
}
@media only screen and (device-width: 375px){
  body{
    overflow-x: hidden;
  }
  .general{
    width: 97%;
    max-height: 10000px;
    border: 1px solid #666;
    font-size: 0.8rem;
    padding: 5px;

  }
  .general__question__inputs__item{
    font-size: 0.8rem;
    margin-left: 0;
  }
  .general__question__inputs__item:first-child{
    margin-right: 0;
  }

}